### See http://help.github.com/ignore-files/ for more about ignoring files.

### BEGIN: Rules regarding slash "/"
### /dir will match a file, directory, link, anything named dir
### /dir/ will match only a directory named dir
### /dir/* will match all files, directories and anything else inside a directory named dir (but not the dir directory itself).
### /dir, /dir/ and /dir/* are NOT equivalent. 
### END: Rules regarding slash "/"

### Java ###
# Compiled class file
*.class

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### Java-Web ###
## ignoring target file
target/

### Vagrant ###
# General
.vagrant/*

### Vagrant Patch ###
*.box

HELP.md
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.factorypath
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dependencies
/node_modules
node_modules

.editorconfig


# profiling files
chrome-profiler-events*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db