:root {
  --bs-breakpoint-xs: 0;
  --bs-breakpoint-sm: 576px;
  --bs-breakpoint-md: 768px;
  --bs-breakpoint-lg: 992px;
  --bs-breakpoint-xl: 1200px;
  --bs-breakpoint-xxl: 1400px;
}

:root,
[data-bs-theme="light"] {
  --bd-blue: #0b2cce;
  --bd-purple: #4c0bce;
  --bd-violet: #712cf9;
  --bd-picton-blue: #3ebae8;
  --bd-accent: #ffe484;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
  --bd-picton-blue-rgb: 62, 186, 232;
  --bd-accent-rgb: 255, 228, 132;
  --bd-pink-rgb: 214, 51, 132;
  --bd-teal-rgb: 32, 201, 151;
  --bd-violet-bg: var(--bd-violet);
  --bd-picton-blue-bg: var(--bd-picton-blue);
  --bd-toc-color: var(--bd-picton-blue);
  --bd-sidebar-link-bg: rgba(var(--bd-picton-blue-rgb), 0.1);
  --bd-callout-link: 10, 88, 202;
  --bd-callout-code-color: #ab296a;
  --bd-pre-bg: var(--bs-tertiary-bg);
}

[data-bs-theme="dark"] {
  --bd-violet: #9461fb;
  --bd-violet-bg: #712cf9;
  --bd-picton-blue: #65c8ed;
  --bd-picton-blue-bg: #3ebae8;
  --bd-toc-color: var(--bs-emphasis-color);
  --bd-sidebar-link-bg: rgba(84, 33, 187, 0.5);
  --bd-callout-link: 110, 168, 254;
  --bd-callout-code-color: #e685b5;
  --bd-pre-bg: #1b1f22;
}

.bd-navbar {
  padding: 0.75rem 0;
  background-color: transparent;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(255, 255, 255, 0.15);
}

.bd-navbar::after {
  position: absolute;
  inset: 0;
  z-index: -1;
  display: block;
  content: "";
  background-image: linear-gradient(rgba(var(--bd-picton-blue-rgb), 1), rgba(var(--bd-picton-blue-rgb), 0.95));
}

@media (max-width: 991.98px) {
  .bd-navbar .bd-navbar-toggle {
    width: 4.25rem;
  }
}

.bd-navbar .navbar-toggler {
  padding: 0;
  margin-right: -0.5rem;
  border: 0;
}

.bd-navbar .navbar-toggler:first-child {
  margin-left: -0.5rem;
}

.bd-navbar .navbar-toggler .bi {
  width: 1.5rem;
  height: 1.5rem;
}

.bd-navbar .navbar-toggler:focus {
  box-shadow: none;
}

.bd-navbar .navbar-brand {
  color: #fff;
  transition: transform 0.2s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .bd-navbar .navbar-brand {
    transition: none;
  }
}

.bd-navbar .navbar-brand:hover {
  transform: rotate(-5deg) scale(1.1);
}

.bd-navbar .navbar-toggler,
.bd-navbar .nav-link {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  color: rgba(255, 255, 255, 0.85);
}

.bd-navbar .navbar-toggler:hover,
.bd-navbar .navbar-toggler:focus,
.bd-navbar .nav-link:hover,
.bd-navbar .nav-link:focus {
  color: #fff;
}

.bd-navbar .navbar-toggler.active,
.bd-navbar .nav-link.active {
  font-weight: 600;
  color: #fff;
}

.bd-navbar .navbar-nav-svg {
  display: inline-block;
  vertical-align: -0.125rem;
}

.bd-navbar .offcanvas-lg {
  background-color: var(--bd-picton-blue-bg);
  border-left: 0;
}

@media (max-width: 991.98px) {
  .bd-navbar .offcanvas-lg {
    box-shadow: var(--bs-box-shadow-lg);
  }
}

.bd-navbar .dropdown-toggle:focus:not(:focus-visible) {
  outline: 0;
}

.bd-navbar .dropdown-menu {
  --bs-dropdown-min-width: 12rem;
  --bs-dropdown-padding-x: 0.25rem;
  --bs-dropdown-padding-y: 0.25rem;
  --bs-dropdown-link-hover-bg: rgba(var(--bd-picton-blue-rgb), 0.1);
  --bs-dropdown-link-active-bg: rgba(var(--bd-picton-blue-rgb), 1);
  --bs-dropdown-font-size: 0.875rem;
  font-size: 0.875rem;
  border-radius: 0.5rem;
  box-shadow: var(--bs-box-shadow);
}

.bd-navbar .dropdown-menu li + li {
  margin-top: 0.125rem;
}

.bd-navbar .dropdown-menu .dropdown-item {
  border-radius: 0.25rem;
}

.bd-navbar .dropdown-menu .dropdown-item:active .bi {
  color: inherit !important;
}

.bd-navbar .dropdown-menu .active {
  font-weight: 600;
}

.bd-navbar .dropdown-menu .active .bi {
  display: block !important;
}

.bd-navbar .dropdown-menu-end {
  --bs-dropdown-min-width: 8rem;
}

[data-bs-theme="dark"] .bd-navbar {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(255, 255, 255, 0.15);
}

:root {
  --docsearch-primary-color: var(--bd-picton-blue);
  --docsearch-logo-color: var(--bd-picton-blue);
}

[data-bs-theme="dark"] {
  --docsearch-text-color: #f5f6f7;
  --docsearch-container-background: rgba(9, 10, 17, 0.8);
  --docsearch-modal-background: #15172a;
  --docsearch-modal-shadow: inset 1px 1px 0 0 #2c2e40, 0 3px 8px 0 #000309;
  --docsearch-searchbox-background: #090a11;
  --docsearch-searchbox-focus-background: #000;
  --docsearch-hit-color: #bec3c9;
  --docsearch-hit-shadow: none;
  --docsearch-hit-background: #090a11;
  --docsearch-key-gradient: linear-gradient(-26.5deg, #565872, #31355b);
  --docsearch-key-shadow: inset 0 -2px 0 0 #282d55, inset 0 0 1px 1px #51577d, 0 2px 2px 0 rgba(3, 4, 9, 0.3);
  --docsearch-footer-background: #1e2136;
  --docsearch-footer-shadow: inset 0 1px 0 0 rgba(73, 76, 106, 0.5), 0 -4px 8px 0 rgba(0, 0, 0, 0.2);
  --docsearch-muted-color: #7f8497;
}

.bd-masthead {
  --bd-pink-rgb: 214, 51, 132;
  padding: 3rem 0;
  background-image: linear-gradient(180deg, rgba(var(--bs-body-bg-rgb), 0.01), rgba(var(--bs-body-bg-rgb), 1) 85%),
    radial-gradient(ellipse at top left, rgba(var(--bs-primary-rgb), 0.5), transparent 50%),
    radial-gradient(ellipse at top right, rgba(var(--bd-accent-rgb), 0.5), transparent 50%),
    radial-gradient(ellipse at center right, rgba(var(--bd-picton-blue-rgb), 0.5), transparent 50%),
    radial-gradient(ellipse at center left, rgba(var(--bd-pink-rgb), 0.5), transparent 50%);
}

.bd-masthead h1 {
  --bs-heading-color: var(--bs-emphasis-color);
  font-size: calc(1.525rem + 3.3vw);
}

@media (min-width: 1200px) {
  .bd-masthead h1 {
    font-size: 4rem;
  }
}

.bd-masthead .lead {
  font-size: 1rem;
  font-weight: 400;
  color: var(--bs-secondary-color);
}

.bd-masthead .bd-code-snippet {
  margin: 0;
  border-color: var(--bs-border-color-translucent);
  border-width: 1px;
  border-radius: 0.5rem;
}

.bd-masthead .highlight {
  width: 100%;
  padding: 0.5rem 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: rgba(var(--bs-body-color-rgb), 0.075);
  border-radius: calc(0.5rem - 1px);
}

@media (min-width: 992px) {
  .bd-masthead .highlight {
    padding-right: 4rem;
  }
}

.bd-masthead .highlight pre {
  padding: 0;
  margin: 0.625rem 0;
  overflow: hidden;
}

.bd-masthead .btn-clipboard {
  position: absolute;
  top: -0.625rem;
  right: 0;
  background-color: transparent;
}

.bd-masthead #carbonads {
  margin-inline: auto;
}

@media (min-width: 768px) {
  .bd-masthead .lead {
    font-size: calc(1.275rem + 0.3vw);
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  .bd-masthead .lead {
    font-size: 1.5rem;
  }
}

.masthead-followup h2,
.masthead-followup h3,
.masthead-followup h4 {
  --bs-heading-color: var(--bs-emphasis-color);
}

.masthead-followup .lead {
  font-size: 1rem;
}

@media (min-width: 768px) {
  .masthead-followup .lead {
    font-size: 1.25rem;
  }
}

.masthead-followup-icon {
  padding: 1rem;
  color: rgba(var(--bg-rgb), 1);
  background-color: rgba(var(--bg-rgb), 0.1);
  background-blend-mode: multiple;
  border-radius: 1rem;
  mix-blend-mode: darken;
}

.masthead-followup-icon svg {
  filter: drop-shadow(0 1px 1px var(--bs-body-bg));
}

.masthead-notice {
  background-color: var(--bd-accent);
  box-shadow: inset 0 -1px 1px rgba(var(--bs-body-color-rgb), 0.15), 0 0.25rem 1.5rem rgba(var(--bs-body-bg-rgb), 0.75);
}

[data-bs-theme="dark"] .masthead-followup-icon {
  mix-blend-mode: lighten;
}

.bd-content > h2,
.bd-content > h3,
.bd-content > h4 {
  --bs-heading-color: var(--bs-emphasis-color);
}

.bd-content > h2:not(:first-child) {
  margin-top: 3rem;
}

.bd-content > h3 {
  margin-top: 2rem;
}

.bd-content > ul li,
.bd-content > ol li {
  margin-bottom: 0.25rem;
}

.bd-content > ul li > p ~ ul,
.bd-content > ol li > p ~ ul {
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}

.bd-content > .table,
.bd-content > .table-responsive .table {
  --bs-table-border-color: var(--bs-border-color);
  max-width: 100%;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
}

@media (max-width: 991.98px) {
  .bd-content > .table.table-bordered,
  .bd-content > .table-responsive .table.table-bordered {
    border: 0;
  }
}

.bd-content > .table thead,
.bd-content > .table-responsive .table thead {
  border-bottom: 2px solid currentcolor;
}

.bd-content > .table tbody:not(:first-child),
.bd-content > .table-responsive .table tbody:not(:first-child) {
  border-top: 2px solid currentcolor;
}

.bd-content > .table th:first-child,
.bd-content > .table td:first-child,
.bd-content > .table-responsive .table th:first-child,
.bd-content > .table-responsive .table td:first-child {
  padding-left: 0;
}

.bd-content > .table th:not(:last-child),
.bd-content > .table td:not(:last-child),
.bd-content > .table-responsive .table th:not(:last-child),
.bd-content > .table-responsive .table td:not(:last-child) {
  padding-right: 1.5rem;
}

.bd-content > .table th,
.bd-content > .table-responsive .table th {
  color: var(--bs-emphasis-color);
}

.bd-content > .table strong,
.bd-content > .table-responsive .table strong {
  color: var(--bs-emphasis-color);
}

.bd-content > .table th,
.bd-content > .table td:first-child > code,
.bd-content > .table-responsive .table th,
.bd-content > .table-responsive .table td:first-child > code {
  white-space: nowrap;
}

.table-options td:nth-child(2) {
  min-width: 160px;
}

.table-options td:last-child,
.table-utilities td:last-child {
  min-width: 280px;
}

.table-swatches th {
  color: var(--bs-emphasis-color);
}

.table-swatches td code {
  white-space: nowrap;
}

.bd-title {
  --bs-heading-color: var(--bs-emphasis-color);
  font-size: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  .bd-title {
    font-size: 3rem;
  }
}

.bd-lead {
  font-size: calc(1.275rem + 0.3vw);
  font-weight: 300;
}

@media (min-width: 1200px) {
  .bd-lead {
    font-size: 1.5rem;
  }
}

.bi {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
  fill: currentcolor;
}

@media (min-width: 992px) {
  .border-lg-start {
    border-left: var(--bs-border-width) solid var(--bs-border-color);
  }
}

.bd-summary-link {
  color: var(--bs-link-color);
}

.bd-summary-link:hover,
details[open] > .bd-summary-link {
  color: var(--bs-link-hover-color);
}

[data-bs-theme="blue"] {
  --bs-body-color: var(--bs-white);
  --bs-body-color-rgb: 255, 255, 255;
  --bs-body-bg: var(--bs-blue);
  --bs-body-bg-rgb: 13, 110, 253;
  --bs-tertiary-bg: #0a58ca;
}

[data-bs-theme="blue"] .dropdown-menu {
  --bs-dropdown-bg: #0c63e4;
  --bs-dropdown-link-active-bg: #084298;
}

[data-bs-theme="blue"] .btn-secondary {
  --bs-btn-bg: #3d8bfc;
  --bs-btn-border-color: rgba(255, 255, 255, 0.25);
  --bs-btn-hover-bg: #247cfc;
  --bs-btn-hover-border-color: rgba(255, 255, 255, 0.25);
  --bs-btn-active-bg: #0b6dfb;
  --bs-btn-active-border-color: rgba(255, 255, 255, 0.5);
  --bs-btn-focus-border-color: rgba(255, 255, 255, 0.5);
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.2);
}

.skippy {
  background-color: #4c0bce;
}

.skippy a {
  color: #fff;
}

@media (min-width: 992px) {
  .bd-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    display: block !important;
    height: calc(100vh - 6rem);
    padding-left: 0.25rem;
    margin-left: -0.25rem;
    overflow-y: auto;
  }
}

@media (max-width: 991.98px) {
  .bd-sidebar .offcanvas-lg {
    border-right-color: var(--bs-border-color);
    box-shadow: var(--bs-box-shadow-lg);
  }
}

.bd-links-heading {
  color: var(--bs-emphasis-color);
}

@media (max-width: 991.98px) {
  .bd-links-nav {
    font-size: 0.875rem;
  }
}

@media (max-width: 991.98px) {
  .bd-links-nav {
    -moz-column-count: 2;
    column-count: 2;
    -moz-column-gap: 1.5rem;
    column-gap: 1.5rem;
  }

  .bd-links-nav .bd-links-group {
    -moz-column-break-inside: avoid;
    break-inside: avoid;
  }

  .bd-links-nav .bd-links-span-all {
    -moz-column-span: all;
    column-span: all;
  }
}

.bd-links-link {
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.125rem;
  color: var(--bs-body-color);
  text-decoration: none;
}

.bd-links-link:hover,
.bd-links-link:focus,
.bd-links-link.active {
  color: var(--bs-emphasis-color);
  background-color: var(--bd-sidebar-link-bg);
}

.bd-links-link.active {
  font-weight: 600;
}

.bd-gutter {
  --bs-gutter-x: 3rem;
}

@media (min-width: 992px) {
  .bd-layout {
    display: grid;
    grid-template-areas: "sidebar main";
    grid-template-columns: 1fr 5fr;
    gap: 1.5rem;
  }
}

.bd-sidebar {
  grid-area: sidebar;
}

.bd-main {
  grid-area: main;
}

@media (max-width: 991.98px) {
  .bd-main {
    max-width: 760px;
    margin-inline: auto;
  }
}

@media (min-width: 768px) {
  .bd-main {
    display: grid;
    grid-template-areas: "intro" "toc" "content";
    grid-template-rows: auto auto 1fr;
    gap: inherit;
  }
}

@media (min-width: 992px) {
  .bd-main {
    grid-template-areas: "intro   toc" "content toc";
    grid-template-rows: auto 1fr;
    grid-template-columns: 4fr 1fr;
  }
}

.bd-intro {
  grid-area: intro;
}

.bd-toc {
  grid-area: toc;
}

.bd-content {
  grid-area: content;
  min-width: 1px;
}

@media (min-width: 992px) {
  .bd-toc {
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    right: 0;
    z-index: 2;
    height: calc(100vh - 7rem);
    overflow-y: auto;
  }
}

.bd-toc nav {
  font-size: 0.875rem;
}

.bd-toc nav ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.bd-toc nav ul ul {
  padding-left: 1rem;
}

.bd-toc nav a {
  display: block;
  padding: 0.125rem 0 0.125rem 0.75rem;
  color: inherit;
  text-decoration: none;
  border-left: 0.125rem solid transparent;
}

.bd-toc nav a:hover,
.bd-toc nav a.active {
  color: var(--bd-toc-color);
  border-left-color: var(--bd-toc-color);
}

.bd-toc nav a.active {
  font-weight: 500;
}

.bd-toc nav a code {
  font: inherit;
}

.bd-toc-toggle {
  display: flex;
  align-items: center;
}

@media (max-width: 575.98px) {
  .bd-toc-toggle {
    justify-content: space-between;
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  .bd-toc-toggle {
    color: var(--bs-body-color);
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
  }

  .bd-toc-toggle:hover,
  .bd-toc-toggle:focus,
  .bd-toc-toggle:active,
  .bd-toc-toggle[aria-expanded="true"] {
    color: var(--bd-picton-blue);
    background-color: var(--bs-body-bg);
    border-color: var(--bd-picton-blue);
  }

  .bd-toc-toggle:focus,
  .bd-toc-toggle[aria-expanded="true"] {
    box-shadow: 0 0 0 3px rgba(var(--bd-picton-blue-rgb), 0.25);
  }
}

@media (max-width: 767.98px) {
  .bd-toc-collapse nav {
    padding: 1.25rem 1.25rem 1.25rem 1rem;
    background-color: var(--bs-tertiary-bg);
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
  }
}

@media (min-width: 768px) {
  .bd-toc-collapse {
    display: block !important;
  }
}

.bd-footer a {
  color: var(--bs-body-color);
  text-decoration: none;
}

.bd-footer a:hover,
.bd-footer a:focus {
  color: var(--bs-link-hover-color);
  text-decoration: underline;
}

.bd-code-snippet {
  margin: 0 -1.5rem 1rem;
  border: solid var(--bs-border-color);
  border-width: 1px 0;
}

@media (min-width: 768px) {
  .bd-code-snippet {
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-radius: var(--bs-border-radius);
  }
}

.tooltip-demo a {
  white-space: nowrap;
}

.tooltip-demo .btn {
  margin: 0.25rem 0.125rem;
}

.simple-list-example-scrollspy .active {
  background-color: rgba(var(--bd-picton-blue-rgb), 0.15);
}

main a,
main button,
main input,
main select,
main textarea,
main h2,
main h3,
main h4,
main [tabindex="0"] {
  scroll-margin-top: 80px;
  scroll-margin-bottom: 100px;
}

:root,
[data-bs-theme="light"] {
  --base02: #c8c8fa;
  --base03: #565c64;
  --base04: #666;
  --base05: #333;
  --base06: #fff;
  --base07: #13795b;
  --base08: #c6303e;
  --base09: #087990;
  --base0A: #6f42c1;
  --base0B: #084298;
  --base0C: #084298;
  --base0D: #6f42c1;
  --base0E: #ab296a;
  --base0F: #333;
}

[data-bs-theme="dark"] {
  --base02: #3e4451;
  --base03: #868e96;
  --base04: #868e96;
  --base05: #abb2bf;
  --base06: #b6bdca;
  --base07: #feb272;
  --base08: #6edff6;
  --base09: #feb272;
  --base0A: #ffe69c;
  --base0B: #79dfc1;
  --base0C: #79dfc1;
  --base0D: #6ea8fe;
  --base0E: #c29ffa;
  --base0F: #ea868f;
}

[data-bs-theme="dark"] .language-diff .gd {
  color: #e35d6a;
}

[data-bs-theme="dark"] .language-diff .gi {
  color: #479f76;
}

.anchor-link {
  padding: 0 0.175rem;
  font-weight: 400;
  color: rgba(13, 110, 253, 0.5);
  text-decoration: none;
  opacity: 0;
  transition: color 0.15s ease-in-out, opacity 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .anchor-link {
    transition: none;
  }
}

.anchor-link::after {
  content: "#";
}

.anchor-link:focus,
.anchor-link:hover,
:hover > .anchor-link,
:target > .anchor-link {
  color: #0d6efd;
  text-decoration: none;
  opacity: 1;
}

.fa-stack-nav {
  display: inline-block;
  vertical-align: middle;
  height: 1em;
  position: relative;
  width: 1em;
}

.icon-color-black {
  --bs-text-opacity: 1;

  color: #000000;
}

.icon-color-pink-hot {
  --bs-text-opacity: 1;

  color: #ff69b4;
}

.icon-color-pink-hot-bg {
  --bg-rgb: 214, 51, 132;
}

.icon-color-picton-blue {
  --bs-text-opacity: 1;

  color: var(--bd-picton-blue);
}
