<!-- eslint-disable prettier/prettier -->
<svg class="d-none" xmlns="http://www.w3.org/2000/svg">
  <symbol id="check2" viewBox="0 0 16 16">
    <path
      d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
  </symbol>
  <!-- <symbol id="circle-half" viewBox="0 0 16 16">
    <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z" />
  </symbol>
  <symbol id="moon-stars-fill" viewBox="0 0 16 16">
    <path
      d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z" />
    <path
      d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z" />
  </symbol>
  <symbol id="sun-fill" viewBox="0 0 16 16">
    <path
      d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
  </symbol> -->
</svg>

<!--Navbar Start-->
<header class="navbar navbar-expand-lg bd-navbar sticky-top">
  <nav
    class="container-xxl bd-gutter flex-wrap flex-lg-nowrap"
    aria-label="Main navigation">
    <div class="d-lg-none"></div>
    <a
      class="navbar-brand p-0 me-0 me-lg-2"
      routerLink="/"
      routerLinkActive="active"
      aria-label="RecreateYourself">
      <img
        src="assets/images/logo/logo.png"
        title="Recreate Yourself"
        alt="RecreateYourself.org"
        width="39"
        height="32" />
    </a>

    <div class="d-flex">
      <button
        class="navbar-toggler d-flex d-lg-none order-3 p-2"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#bdNavbar"
        aria-controls="bdNavbar"
        aria-label="Toggle navigation">
        <fa-stack class="flex-shrink-0 fa-stack-nav" size="1x">
          <fa-icon
            [icon]="faEllipsis"
            stackItemSize="1x"
            [inverse]="true"></fa-icon>
        </fa-stack>
      </button>
    </div>

    <div
      class="offcanvas-lg offcanvas-end flex-grow-1"
      id="bdNavbar"
      tabindex="-1"
      aria-labelledby="bdNavbarOffcanvasLabel"
      data-bs-scroll="true">
      <div class="offcanvas-header px-4 pb-0">
        <h5 class="offcanvas-title text-white" id="bdNavbarOffcanvasLabel">
          Recreate Yourself
        </h5>
        <button
          class="btn-close btn-close-white"
          type="button"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
          data-bs-target="#bdNavbar"></button>
      </div>

      <div class="offcanvas-body p-4 pt-0 p-lg-0">
        <hr class="d-lg-none text-white-50" />
        <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav">
          <li class="nav-item col-6 col-lg-auto">
            <a
              class="nav-link py-2 px-0 px-lg-2"
              aria-current="page"
              routerLink="/"
              rel="noopener"
              >Home</a
            >
          </li>
          <li class="nav-item col-6 col-lg-auto">
            <a
              class="nav-link py-2 px-0 px-lg-2"
              aria-current="page"
              routerLink="/about"
              rel="noopener"
              >About</a
            >
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Guides</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/physical-activity">Physical Activity</a></li>
            </ul>
          </li>
        </ul>

        <hr class="d-lg-none text-white-50" />

        <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
          <li class="nav-item col-6 col-lg-auto">
            <a
              class="nav-link py-2 px-0 px-lg-2"
              href="https://threads.net/recreateyurself"
              target="_blank"
              rel="noopener">
              <fa-stack class="flex-shrink-0 fa-stack-nav" size="1x">
                <fa-icon
                  [icon]="faThreads"
                  stackItemSize="1x"
                  [inverse]="true"></fa-icon>
              </fa-stack>
              <small class="d-lg-none ms-2">Threads</small>
            </a>
          </li>
          <li class="nav-item col-6 col-lg-auto">
            <a
              class="nav-link py-2 px-0 px-lg-2"
              href="https://twitter.com/recreateyurself"
              target="_blank"
              rel="noopener">
              <fa-stack class="flex-shrink-0 fa-stack-nav" size="1x">
                <fa-icon
                  [icon]="faTwitter"
                  stackItemSize="1x"
                  [inverse]="true"></fa-icon>
              </fa-stack>
              <small class="d-lg-none ms-2">Twitter</small>
            </a>
          </li>
          <li class="nav-item col-6 col-lg-auto">
            <a
              class="nav-link py-2 px-0 px-lg-2"
              href="https://instagram.com/recreateyurself"
              target="_blank"
              rel="noopener">
              <fa-stack class="flex-shrink-0 fa-stack-nav" size="1x">
                <fa-icon
                  [icon]="faInstagram"
                  stackItemSize="1x"
                  [inverse]="true"></fa-icon>
              </fa-stack>
              <small class="d-lg-none ms-2">Instagram</small>
            </a>
          </li>
          <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
            <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-white"></div>
            <hr class="d-lg-none my-2 text-white-50" />
          </li>
          <li class="nav-item dropdown">
            <button
              class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle d-flex align-items-center"
              id="bd-theme"
              type="button"
              aria-expanded="false"
              data-bs-toggle="dropdown"
              data-bs-display="static"
              aria-label="Toggle theme (auto)">
              <span class="bi my-1 theme-icon-active bi-{{currentTheme.icon}}"></span>
              <span class="d-lg-none ms-2" id="bd-theme-text"
                >Toggle theme</span
              >
            </button>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="demo-site-theme">
              <li>
                <button
                  class="dropdown-item d-flex align-items-center"
                  type="button"
                  *ngFor="let theme of themes"
                  [class.active]="theme.id === currentTheme.id"
                  (click)="setTheme(theme)">
                  <span class="bi bi-{{ theme.icon }} me-2 opacity-50 theme-icon"></span
                  >{{ theme.name }}
                  <svg class="bi ms-auto d-none">
                    <use href="#check2"></use>
                  </svg>
                </button>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!-- Navbar End -->
